logs/
tmp/
out/
.cache/
.composer/
.config/
.copilot/
.dotnet/
.local/
.npm/
.ssh/
.vscode/
.git/
.vscode-server/
.VSCodeCounter/
.bash_history
.bash_logout
.bashrc
.bowerrc
.profile
.wget-hsts
.gitconfig
.lesshst
.env
.mysql_history
.selected_editor
composer.lock
package-lock.json
*.log
*lock.it
*/*.log
column_mapping.json
table_mapping.json
*.sql.gz
*.sql